# VK Bot
VK_TOKEN=your_vk_token_here
GROUP_ID=your_group_id

# PostgreSQL Main
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_password
DB_USER=db_admin
DB_PASSWORD=db_admin_password
DB_DATABASE=mydb

# Replication
DB_REPL_USER=repl_user
DB_REPL_PASSWORD=repl_password
